<div class="master-slider">
                <div class="master_program ng-isolate-scope" dir-home-page-carousel="" is-mobile="0" enable-nav-on-mobile="0" data-current-slide="1">
                    <h2 class="hide">Courses <b>at a glance</b> </h2>
                    <h3 class="master-title">Master's Programs</h3>
                    <p class="sub-head">Achieve your career goals with industry-recognized learning paths</p>
                    <div class="testimonial_div c_screen" id="master-program-carousel">
                        <a href="" class="card_arrows prev_arrow c_prev" ng-click="gaHomePageControllerJs.gaMasterCardArrowClick();"></a>
                        <a href="" class="card_arrows next_arrow c_next" ng-click="gaHomePageControllerJs.gaMasterCardArrowClick();"></a>
                        <div class="ul-iners">
                            <ul class="testimonial_div_inner c_list" style="position: relative; transition: all 0.3s ease 0s; transform: translate3d(0px, 0px, 0px); width: 6000px;">

                                                                                                        <li class="inner_block c_list_item c_index_1">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/digital-marketing/advanced-online-marketing-certification-training-bundle?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Digital Marketing Specialist','https://www.simplilearn.com/digital-marketing/advanced-online-marketing-certification-training-bundle');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Digital Marketing Specialist"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Digital Marketing Specialist</h3>
                                                        <span class="meta-text">9 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_2">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/cloud-solutions-architect-masters-program-training?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Cloud Architect','https://www.simplilearn.com/cloud-solutions-architect-masters-program-training');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Cloud Architect"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Cloud Architect</h3>
                                                        <span class="meta-text">12 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_3">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/artificial-intelligence-masters-program-training-course?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Artificial Intelligence Engineer','https://www.simplilearn.com/artificial-intelligence-masters-program-training-course');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Artificial Intelligence Engineer"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Artificial Intelligence Engineer</h3>
                                                        <span class="meta-text">8 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_4">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/big-data-and-analytics/senior-data-scientist-masters-program-training?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Data Scientist','https://www.simplilearn.com/big-data-and-analytics/senior-data-scientist-masters-program-training');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Data Scientist"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Data Scientist</h3>
                                                        <span class="meta-text">8 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_5">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/full-stack-web-developer-mean-stack-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Full Stack Web Developer','https://www.simplilearn.com/full-stack-web-developer-mean-stack-certification-training');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Full Stack Web Developer"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Full Stack Web Developer</h3>
                                                        <span class="meta-text">7 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_6">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/pmp-plus-bundle-masters-program?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('PMP Plus','https://www.simplilearn.com/pmp-plus-bundle-masters-program');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="PMP Plus"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">PMP Plus</h3>
                                                        <span class="meta-text">6 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_7">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/devops-engineer-masters-program-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Devops Architect','https://www.simplilearn.com/devops-engineer-masters-program-certification-training');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Devops Architect"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Devops Architect</h3>
                                                        <span class="meta-text">15 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_8">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/big-data-and-analytics/data-analytics-and-business-intelligence-masters-program?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Business Analytics Expert','https://www.simplilearn.com/big-data-and-analytics/data-analytics-and-business-intelligence-masters-program');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Business Analytics Expert"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Business Analytics Expert</h3>
                                                        <span class="meta-text">9 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_9">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/it-service-management/itil-expert-lifecycle-stream-certification-training-bundle?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('ITIL<sup>®</sup> Lifecycle Expert Program','https://www.simplilearn.com/it-service-management/itil-expert-lifecycle-stream-certification-training-bundle');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="ITIL<sup>®</sup> Lifecycle Expert Program"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">ITIL<sup>®</sup> Lifecycle Expert Program</h3>
                                                        <span class="meta-text">6 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_10">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/it-service-management/it-service-management-certification-training-all-in-one-bundle?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('IT Service Expert','https://www.simplilearn.com/it-service-management/it-service-management-certification-training-all-in-one-bundle');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="IT Service Expert"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">IT Service Expert</h3>
                                                        <span class="meta-text">11 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_11">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/it-service-management/itil-expert-capability-stream-certification-training-bundle?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('ITIL<sup>®</sup> Capability Expert Program','https://www.simplilearn.com/it-service-management/itil-expert-capability-stream-certification-training-bundle');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="ITIL<sup>®</sup> Capability Expert Program"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">ITIL<sup>®</sup> Capability Expert Program</h3>
                                                        <span class="meta-text">5 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_12">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/integrated-program-in-big-data-and-data-science?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Integrated Program in Big Data and Data Science','https://www.simplilearn.com/integrated-program-in-big-data-and-data-science');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Integrated Program in Big Data and Data Science"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Integrated Program in Big Data and Data Science</h3>
                                                        <span class="meta-text">14 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_13">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/software-engineer-masters-program-certification-training-course?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Software Engineer Masters program','https://www.simplilearn.com/software-engineer-masters-program-certification-training-course');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Software Engineer Masters program"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Software Engineer Masters program</h3>
                                                        <span class="meta-text">15 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_14">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/big-data-and-analytics/big-data-hadoop-architect-masters-program-training?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Big Data Architect','https://www.simplilearn.com/big-data-and-analytics/big-data-hadoop-architect-masters-program-training');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Big Data Architect"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Big Data Architect</h3>
                                                        <span class="meta-text">10 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_15">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/quality-management/lean-six-sigma-certification-training-all-in-one-bundle?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Lean Six Sigma Expert','https://www.simplilearn.com/quality-management/lean-six-sigma-certification-training-all-in-one-bundle');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Lean Six Sigma Expert"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Lean Six Sigma Expert</h3>
                                                        <span class="meta-text">6 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_16">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/pmp-renewal-pack-to-earn-pdus-masters-program?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('PMP<sup>®</sup> Renewal Pack','https://www.simplilearn.com/pmp-renewal-pack-to-earn-pdus-masters-program');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="PMP<sup>®</sup> Renewal Pack"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">PMP<sup>®</sup> Renewal Pack</h3>
                                                        <span class="meta-text">5 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_17">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/digital-project-manager-masters-program-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Digital Project Manager','https://www.simplilearn.com/digital-project-manager-masters-program-certification-training');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Digital Project Manager"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Digital Project Manager</h3>
                                                        <span class="meta-text">10 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                            <li class="inner_block c_list_item c_index_18">
                                        <div class="inner_block_wrapper"><div class="th_outer"><a href="https://www.simplilearn.com/automation-testing-masters-program-certification-training-course?referrer=home" ng-click="gaHomePageControllerJs.gaFireHomePageMasterCard('Automation Testing Masters Program','https://www.simplilearn.com/automation-testing-masters-program-certification-training-course');" class="th_inner">
                                                    <div class="img_th_bundle"><span>
                                                            <img src="https://www.simplilearn.com/ice9/assets/master_badge_white.svgz" alt="Automation Testing Masters Program"></span>
                                                    </div>
                                                    <div class="descrip_progms">
                                                        <h3 class="sub-heading">Automation Testing Masters Program</h3>
                                                        <span class="meta-text">3 Courses</span>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </li>
                                                                <li class="c_list_item c_index_19 empty_li" style="border: none; float: left; width: 210px;"></li><li class="c_list_item c_index_20 empty_li" style="border: none; float: left; width: 210px;"></li></ul>
                        </div>
                        <!-- ngIf: !isMobile --><div ng-if="!isMobile" class="view-more-btn ng-scope">
                                                                                            <a href="" class="c_bullet_mobile c_bullet_mobile_0 active"></a>
                                                                                            <a href="" class="c_bullet_mobile c_bullet_mobile_1 "></a>
                                                                                            <a href="" class="c_bullet_mobile c_bullet_mobile_2 "></a>
                                                                                            <a href="" class="c_bullet_mobile c_bullet_mobile_3 "></a>
                                                                                            <a href="" class="c_bullet_mobile c_bullet_mobile_4 "></a>
                                                    </div><!-- end ngIf: !isMobile -->
                    </div>
                </div>
                                <div class="tab-courses" ng-init="tab = 1">
                                        <a class="tab active" ng-class="{active:tab == 1}" ng-click="tab = 1;gaHomePageControllerJs.gaHomepageCourseToogle('Popular Clicked');">Popular Courses</a>
                                                            <a class="tab" ng-class="{active:tab == 2}" ng-click="tab = 2;gaHomePageControllerJs.gaHomepageCourseToogle('Trending Clicked');">Trending Courses</a>
                                    </div>
                                                <div class="course-list" ng-show="tab == 1">
                                        <a href="https://www.simplilearn.com/agile-and-scrum/csm-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Scrum Master','https://www.simplilearn.com/agile-and-scrum/csm-certification-training');">Scrum Master</a>
                                        <a href="https://www.simplilearn.com/project-management/pmp-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('PMP','https://www.simplilearn.com/project-management/pmp-certification-training');">PMP</a>
                                        <a href="https://www.simplilearn.com/big-data-and-analytics/machine-learning-certification-training-course?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Machine Learning','https://www.simplilearn.com/big-data-and-analytics/machine-learning-certification-training-course');">Machine Learning</a>
                                        <a href="https://www.simplilearn.com/blockchain-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Blockchain','https://www.simplilearn.com/blockchain-certification-training');">Blockchain</a>
                                        <a href="https://www.simplilearn.com/cyber-security/ceh-certification?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Certified Ethical Hacker','https://www.simplilearn.com/cyber-security/ceh-certification');">Certified Ethical Hacker</a>
                                        <a href="https://www.simplilearn.com/digital-marketing/digital-marketing-certified-associate-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Digital Marketing','https://www.simplilearn.com/digital-marketing/digital-marketing-certified-associate-training');">Digital Marketing</a>
                                    </div>
                                                <div class="course-list ng-hide" ng-show="tab == 2">
                                        <a href="https://www.simplilearn.com/cloud-computing/aws-solution-architect-associate-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('AWS Solution Architect','https://www.simplilearn.com/cloud-computing/aws-solution-architect-associate-training');">AWS Solution Architect</a>
                                        <a href="https://www.simplilearn.com/tableau-training-and-data-visualization-course?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Tableau Training','https://www.simplilearn.com/tableau-training-and-data-visualization-course');">Tableau Training</a>
                                        <a href="https://www.simplilearn.com/cloud-computing/devops-practitioner-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('DevOps','https://www.simplilearn.com/cloud-computing/devops-practitioner-certification-training');">DevOps</a>
                                        <a href="https://www.simplilearn.com/cloud-computing/implementing-microsoft-azure-infrastrucure-solutions-70-533-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Azure 70-535','https://www.simplilearn.com/cloud-computing/implementing-microsoft-azure-infrastrucure-solutions-70-533-certification-training');">Azure 70-535</a>
                                        <a href="https://www.simplilearn.com/big-data-and-analytics/python-for-data-science-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Data Science - Python','https://www.simplilearn.com/big-data-and-analytics/python-for-data-science-training');">Data Science - Python</a>
                                        <a href="https://www.simplilearn.com/angular-certification-training?referrer=home" ng-click="gaHomePageControllerJs.gaHomepageQuickLinkClick('Angular Training','https://www.simplilearn.com/angular-certification-training');">Angular Training</a>
                                    </div>
                                <a href="https://www.simplilearn.com/search?tag=#/&amp;item_type=course,bundle" class="explore-courses" ng-click="gaHomePageControllerJs.gaHomepageExploreAll();">Explore All Courses</a>
            </div>