<nav class="navbar navbar-light bg-light">
  <div style="text-align:center">
    <img src="/assets/images/logo.PNG" width="140" height="40" alt="AS2 Logo">
  </div>
  <div>
    <div id="nav-content-menu" class="nav-content panel-group">
      <div class="primary-link-container" role="toolbar" id="navigation-menu">
        <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
          data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
            <span class="nav-submenu-label-text">
              <a class="nav-link active" href="#" [routerLink]="['/home']">Home</a>
            </span>
          </div>
      </div>
    </div>
  </div>
  <div id="nav-content-menu" class="nav-content panel-group">
    <div class="primary-link-container" role="toolbar" id="navigation-menu">
      <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
        data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
            <span class="nav-submenu-label-text">
            <a class="nav-link" href="#" [routerLink]="['/training']">Training</a>
          </span>
        </div>
      </div>
    </div>
  
  <div>
    <div id="nav-content-menu" class="nav-content panel-group">
      <div class="primary-link-container" role="toolbar" id="navigation-menu">
        <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
          data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
          <div class="gh-item nav-submenu-label" role="presentation" data-target="#primaryLink1_Insights"
            data-parent="#navigation-menu" tabindex="0" aria-label="Insights" data-linkcomponentname="primary nav"
            data-analytics-module-name="primary nav" data-cell="GH1" data-linktype="nav/paginate"
            data-toggle="collapse">
            <span class="nav-submenu-label-text">
              <a class="nav-link" href="#" [routerLink]="['/home']">Business</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="nav-content-menu" class="nav-content panel-group">
    <div class="primary-link-container" role="toolbar" id="navigation-menu">
      <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
        data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
        <div class="gh-item nav-submenu-label" role="presentation" data-target="#primaryLink1_Insights"
          data-parent="#navigation-menu" tabindex="0" aria-label="Insights" data-linkcomponentname="primary nav"
          data-analytics-module-name="primary nav" data-cell="GH1" data-linktype="nav/paginate" data-toggle="collapse">
          <span class="nav-submenu-label-text">
            <a class="nav-link" href="#" [routerLink]="['/aboutus']">About Us</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="nav-content-menu" class="nav-content panel-group">
    <div class="primary-link-container" role="toolbar" id="navigation-menu">
      <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
        data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
        <div class="gh-item nav-submenu-label" role="presentation" data-target="#primaryLink1_Insights"
          data-parent="#navigation-menu" tabindex="0" aria-label="Insights" data-linkcomponentname="primary nav"
          data-analytics-module-name="primary nav" data-cell="GH1" data-linktype="nav/paginate" data-toggle="collapse">
          <span class="nav-submenu-label-text">
            <a class="nav-link" href="#" [routerLink]="['/contactus']">Contact Us</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="nav-content-menu" class="nav-content panel-group">
      <div class="primary-link-container" role="toolbar" id="navigation-menu">
        <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
          data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
          <div class="gh-item nav-submenu-label" role="presentation" data-target="#primaryLink1_Insights"
            data-parent="#navigation-menu" tabindex="0" aria-label="Insights" data-linkcomponentname="primary nav"
            data-analytics-module-name="primary nav" data-cell="GH1" data-linktype="nav/paginate" data-toggle="collapse">
            <span class="nav-submenu-label-text">
              <a class="nav-link" href="#" [routerLink]="['/home/register']">Register</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="nav-content-menu" class="nav-content panel-group">
        <div class="primary-link-container" role="toolbar" id="navigation-menu">
          <div class="nav-submenu panel layout-row  short" data-id="primaryLink1_Insights"
            data-linkcomponentname="primary nav" data-analytics-module-name="primary nav">
            <div class="gh-item nav-submenu-label" role="presentation" data-target="#primaryLink1_Insights"
              data-parent="#navigation-menu" tabindex="0" aria-label="Insights" data-linkcomponentname="primary nav"
              data-analytics-module-name="primary nav" data-cell="GH1" data-linktype="nav/paginate" data-toggle="collapse">
              <span class="nav-submenu-label-text">
                <a class="nav-link" href="#" [routerLink]="['/home/login']">Sign in</a>
              </span>
            </div>
          </div>
        </div>
      </div>
  <div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
  
</nav>
