<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">{{pageTitle}}</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Training
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Basic UI Web Design</a>  
            <a class="dropdown-item" href="#">Angular</a>
              <a class="dropdown-item" href="#">HTML, CSS</a>
              <a class="dropdown-item" href="#">JavaScript or TypeScript</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Java</a>
              <a class="dropdown-item" href="#">Spring</a>
              <a class="dropdown-item" href="#">Web Services</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">AWS</a>
              <a class="dropdown-item" href="#">Hadoop</a>
            </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>