<div class="container" id="aboutUs">
  <div class="card bg-light">
    <section class="row teasers">
      <figure>
        <img alt="spot light" src="/assets/images/UAE1.jpeg">
      </figure>
      <article class="card-body mx-auto" style="width: auto;">
        <router-outlet></router-outlet>
        <div class="aboutus-section">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                  <h2 class="aboutus-title">About Us</h2>
                  <p class="aboutus-text">As2tec's Career Guide is your first step source to explore and discover the
                    world's careers, and to access online courses within your chosen field. In As2tec's Career Guide,
                    you can learn more about jobs that people do every day, and search for your perfect career by
                    Industry, Career Path or Occupation. For each Occupation, you will find all related Certificate and
                    Diploma courses that will help you gain the skills and qualifications you need to succeed..</p>
                  <p class="aboutus-text">Among the services that AS2Tec offers is consulting, Training, website
                    development, service support and Job support, updating and transformation of platforms, as well like
                    other integration, commissioning and start-up services..</p>

                  <!-- <a class="aboutus-more" href="#">read more</a> -->
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                  <img src="" alt="">
                </div>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                  <div class="feature-box">
                    <div class="clearfix">
                      <div class="iconset">
                        <span class="glyphicon glyphicon-cog icon"></span>
                      </div>
                      <div class="feature-content">
                        <h4>Work with heart</h4>
                        <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied
                          is to do what you believe is great work. And the only way to do great work is to love what you
                          do..</p>
                      </div>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="clearfix">
                      <div class="iconset">
                        <span class="glyphicon glyphicon-cog icon"></span>
                      </div>
                      <div class="feature-content">
                        <h4>Reliable services</h4>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="clearfix">
                      <div class="iconset">
                        <span class="glyphicon glyphicon-cog icon"></span>
                      </div>
                      <div class="feature-content">
                        <h4>Great support</h4>
                        <p>.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
