<div class="container">
  <router-outlet></router-outlet>
  <div class="card bg-light">
    <article class="card-body mx-auto" style="width: auto;">
      <h4 class="card-title mt-3 text-center">Contact US</h4>
      <p class="text-center">Email Id: info@as2tec.com </p>
      <p class="text-center">Mobile No: 8600401877 </p>
      <!-- <p class="divider-text">
        <span class="bg-light">OR</span>
      </p> --> 
      <form>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="Full name" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 70px;">
            <option selected="">+91</option>
            <option value="1">+001</option>
          </select>
          <input name="" class="form-control" placeholder="Phone number" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
           <textarea rows="4" cols="50" placeholder="Message here..." class="form-control"></textarea>
        </div> <!-- form-group end.// -->

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Submit </button>
        </div> <!-- form-group// -->
        <!-- <p class="text-center">Have an account? <a href="">Log In</a> </p> -->
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->
