<div class="container">
    <router-outlet></router-outlet>
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
          <h3 class="text-center"> Offering </h3>

          <h5>1. Online, Class room and Co-orporate Training </h5>
          <div class="tp-banner-container" style="overflow: visible;">
            <div class="tp-banner pi-revolution-slider revslider-initialised tp-simpleresponsive" id="revslider-947"
              style="height: 345px;">
              <ul class="pi-list-with-icons text-left" style="font-size:15px;">
                <li>Java, Spring, Web security, Restful API</li>
                <li>Web Development: Html, CSS, Angular and Node JS</li>
                <li>AWS</li>
                <li>Big Data</li>
              </ul>
            </div>
          </div>
        
      </article>
    </div>
  </div>
 
  <h3>Solution to your online Business </h3>
  <h2>3. Mobile App Development</h2>
  <h2>4. Software Development</h2>
  <h3>Web Application Development </h3>
  <h3>Web Application Penetration Testing</h3>
  <h3>Custom Software Development</h3>
  <h3>ERP, CRM Development</h3>

  <h2>5. Digital Marketing </h2>
  <h3>Search Engin Optimization</h3>
  <h3>PPC Advertising</h3>
  <h3>Social Media Optimization</h3>
  <h3> Content Writing</h3>
  <h3> Enquiry Management</h3>
  <h3>Backup Management</h3>

  <h2>6. Web Hosting </h2>
  <h3>Domain Registration </h3>
  <h3>Dedicated ID</h3>
  <h3>SSL Certification</h3>
  <h3>Live Chat</h3>
